#ifndef REPEAT_DNA_SEQUENCE_H
#define REPEAT_DNA_SEQUENCE_H

#include "dna_sequence.h"
#include <stdio.h>
#include <stdlib.h>
#include <time.h>
#include <string.h>

typedef struct Base {
    char type;
} Base;

typedef struct Node {
    Base *base;
    struct Node *prev;
    struct Node *next;
} Node;

typedef struct DoublyLinkedList {
    Node *head;
    Node *tail;
    int size;
} DoublyLinkedList;

typedef struct DNASequence {
    int current_age;
    int max_lifespan;
    float prob_growth;
    float prob_deletion;
    float prob_mutation;
    DoublyLinkedList *sequence;
} DNASequence;

DoublyLinkedList *CDoublyLinkedList();
void AtEnd(DoublyLinkedList *list, Base *base);
void AtPosition(DoublyLinkedList *list, Base *base, int position);
void removePosition(DoublyLinkedList *list, int position);

Base *createBase(char type);
DNASequence *createDNASequence();
void applyLC(DNASequence *sequence);
void reduceLengthByHalf(DNASequence *sequence);
void printSequence(DNASequence *sequence);
void freeSequence(DNASequence *sequence);
void DSequence(DNASequence *sequence);

#endif // REPEAT_DNA_SEQUENCE_H


