
#include "dna_sequence.h"
#include <stdio.h>
#include <stdlib.h>
#include <time.h>

int main() {
    srand(time(NULL)); // Seed the random number generator

    for (int i = 0; i < 2; i++) {
        DNASequence *sequence = createDNASequence();

        printf("First Sequence:\n");
        printSequence(sequence);

        int it = sequence->max_lifespan;
        for (int age = 0; age <= it; age++) {
            applyLC(sequence);
            if (sequence->current_age >= sequence->max_lifespan || sequence->sequence->head == NULL) {
                printf("Simulation ended, lifespan has ben reached or else sequence it terminated.\n");
                break;
            }
        }

        freeSequence(sequence);
    }

    return 0;
}
